#darkmodeText {
    background-color: white;
}

#lightmodeText {
    background-color: black;
    color: white;
}

#myBoxblack {
    background-color: black;
    color: white;
}

#myBoxwhite {
    background-color: white;
    color: black;
}

#titleimage {
    background-image: image-set(strblack);
}